@model IEnumerable<CapstoneProject.Models.ShoppingListDetails>
@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductId)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>

            <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>